// Include Bootstrap functions, variables, and mixins
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Import Bootstrap Steps custom SCSS
@import "../scss/bootstrap-steps.scss";
